<ion-header [translucent]="true">
  <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
  </ion-buttons>
</ion-header>

<div class="container">
  <div class="page-container">
    <div class="page-title">Gestion de Medicamentos</div>
    <ion-searchbar placeholder="Buscar Medicamento"></ion-searchbar>
    <ion-slides [options]="slideOpts">
      <ion-slide *ngFor="let chunk of chunkedMedications">
        <ion-grid>
          <ion-row>
            <ion-col size="6" *ngFor="let medicine of chunk">
              <ion-card>
                <!-- <img [src]="medicine.url_imagen" /> -->
                <img src="../assets/icon/image.png" />
                <ion-card-content>
                  <ion-card-title>{{ medicine.nombre }}</ion-card-title>
                  <ion-description>
                    <ion-label>
                      <p *ngIf="medicine.sintomas_asociados_nombres && medicine.sintomas_asociados_nombres.length > 0">
                        Síntomas:
                        <span *ngFor="let sintoma of medicine.sintomas_asociados_nombres; let last = last">
                          {{ sintoma }}<span *ngIf="!last">, </span>
                        </span>
                      </p>
                    </ion-label>
                  </ion-description>
                  <ion-button class="active center" expand="block">
                    <ion-icon class="fas fa-edit"></ion-icon>
                    Editar
                  </ion-button>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-slide>
    </ion-slides>

    <ion-button class="active center" expand="block" size="small">
      <ion-icon class="fas fa-plus"></ion-icon>
      Añadir medicamentos
    </ion-button>
  </div>
</div>