<ion-header [translucent]="true">
  <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
  </ion-buttons>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-header>

  <div class="container">
    <div class="menu-container">
      <div class="menu-title">Menú Principal</div>
      <div class="top-options">
        <ion-button class="left" size="small" [routerLink]="['/medicines']">
          <!-- <ion-icon class="fas fa-pills" ></ion-icon> -->
          Medicamentos
         </ion-button>
        <ion-button class="rigth" size="small" [routerLink]="['/symptoms']">
          <!-- <ion-icon class="fas fa-stethoscope"></ion-icon> -->
          Sintomas
        </ion-button>
      </div>
      <div>
        <ion-menu-toggle auto-hide="false">
        <ion-button class="active center" size="small" >
          <!-- <ion-icon class="fas fa-cog"></ion-icon> -->
          Ajustes
        </ion-button>
        </ion-menu-toggle>
      </div>
    </div>
  </div>

</ion-content>